@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Montserrat:wght@100&family=Poppins:wght@100&family=Roboto+Serif:wght@100&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ccd5ae;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container{
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 10px 10px 1px 3px #faedcdec;
    /* box-shadow: 2px 2px #faedcd, -1em 0 .4em #faedcd; */
    background-color: #fefae0;
    width: 40%;
    top: 50%;
    left: 50%;
    min-width: 550px;
    min-height: 250px;
    position: absolute;
    transform: translate(-50%,-50%);
}

#new_task{
    position: relative;
    padding: 30px 20px;
}

#new_task input{
    /* background-color: red; */
    border-radius: 3px;
    width: 75%;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#new_task button{
    position: relative;
    float: right;
    font-weight: bold;
    font-size: 16px;
    background-color: #faedcd;
    border: none;
    color: #283618 ;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

#new_task button:hover{
    background-color: #606c38;
    color: #faedcd;
}